doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Hong-Yi Wang
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#interests') Interests
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Hong-Yi
                        span.text-primary Wang
                    .subheading.mb-5
                        | Victoria BC, Canada
                        a(href='mailto:wanghy2007@gmail.com') wanghy2007@gmail.com
                    p.lead.mb-5
                        | Senior software engineer with 9+ years of experience in full stack web development.
                        | Proven track record of delivering quality, robust software
                        | for use by agricultural, natural resources and forest industries in British Columbia.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/wanghy2007/',target='_blank')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/wanghy2007',target='_blank')
                            i.fab.fa-github

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Software Engineer
                            .subheading CGI – Vancouver, BC
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                    i.fas.fa-check
                                    | Work on all aspects of a project’s development
                                    | from requirements gathering and design
                                    | through implementation and quality assurance.
                                li
                                    span.fa-li
                                    i.fas.fa-check
                                    | Mentor junior level developers on software development process,
                                    | improved technical expertise to handle large scale projects.
                                li
                                    span.fa-li
                                    i.fas.fa-check
                                    | Automate the process of deactivating profiles,
                                    | leading to a 50% reduction of active logins.
                                li
                                    span.fa-li
                                    i.fas.fa-check
                                    | Reduced page load time by more than 75%
                                    | by refactoring the existing web application to a single page application.
                                li
                                    span.fa-li
                                    i.fas.fa-check
                                    | Design a customizable batch script to extract data for various data processors.
                                li
                                    span.fa-li
                                    i.fas.fa-check
                                    | Implement an interactive graph for easy viewing, utilizing a JavaScript library called HighCharts.
                        .flex-shrink-0
                            span.text-primary November 2019 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Intermediate Software Engineer
                            .subheading Vivid Solutions Inc – Victoria, BC
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                    i.fas.fa-check
                                    | Port legacy applications to modern technology stack.
                                li
                                    span.fa-li
                                    i.fas.fa-check
                                    | Add functional value to legacy applications in the form of new and improved features.
                                li
                                    span.fa-li
                                    i.fas.fa-check
                                    | Develop and maintain reporting to support business operations and decision making.
                                li
                                    span.fa-li
                                    i.fas.fa-check
                                    | Collaborate with DevOps to streamline the deployment process.
                        .flex-shrink-0
                            span.text-primary May 2013 - November 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Developer (Co-op)
                            .subheading Wurldtech Security Technologies – Vancouver, BC
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                    i.fas.fa-check
                                    | Design and implement regression testing for validating the safety of various mission critical network equipments.
                        .flex-shrink-0
                            span.text-primary May 2011 - August 2011

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Network Developer (Co-op)
                            .subheading University of Victoria – Victoria, BC
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                    i.fas.fa-check
                                    | Provide support to web applications that assist in daily operation of network services.
                        .flex-shrink-0
                            span.text-primary January 2006 - August 2006

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Localization Specialist (Co-op)
                            .subheading SAP Business Objects – Vancouver, BC
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                    i.fas.fa-check
                                    | Prepare automation scripts and localized user manuals.
                        .flex-shrink-0
                            span.text-primary January 2005 - August 2005

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 University of Victoria
                            .subheading.mb-3 Doctor of Philosophy: Computer Science
                        .flex-shrink-0
                            span.text-primary January 2009 - December 2012

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 University of Victoria
                            .subheading.mb-3 Master of Science: Computer Science
                        .flex-shrink-0
                            span.text-primary May 2007 - December 2008

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 University of Victoria
                            .subheading.mb-3 Bachelor of Science: Computer Science
                        .flex-shrink-0
                            span.text-primary September 2001 - April 2007

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading Programming languages
                    ul.list-inline.mb-3
                        li.list-inline-item
                            span.fa-li
                            | Java,
                        li.list-inline-item
                            span.fa-li
                            | Javascript,
                        li.list-inline-item
                            span.fa-li
                            | Python,
                        li.list-inline-item
                            span.fa-li
                            | Perl
                    .subheading Development frameworks
                    ul.list-inline.mb-3
                        li.list-inline-item
                            span.fa-li
                            | Spring,
                        li.list-inline-item
                            span.fa-li
                            | Struts,
                        li.list-inline-item
                            span.fa-li
                            | jQuery,
                        li.list-inline-item
                            span.fa-li
                            | ReactJS,
                        li.list-inline-item
                            span.fa-li
                            | Node.js,
                        li.list-inline-item
                            span.fa-li
                            | Django
                    .subheading Databases
                    ul.list-inline.mb-3
                        li.list-inline-item
                            span.fa-li
                            | Oracle,
                        li.list-inline-item
                            span.fa-li
                            | MySQL,
                        li.list-inline-item
                            span.fa-li
                            | PostgreSQL,
                        li.list-inline-item
                            span.fa-li
                            | SQLite
                    .subheading Continuous integration and continuous delivery tools
                    ul.list-inline.mb-3
                        li.list-inline-item
                            span.fa-li
                            | Git,
                        li.list-inline-item
                            span.fa-li
                            | Maven,
                        li.list-inline-item
                            span.fa-li
                            | Jenkins,
                        li.list-inline-item
                            span.fa-li
                            | Docker
                        li.list-inline-item
                            span.fa-li
                    .subheading Cloud platforms
                    ul.list-inline.mb-3
                        li.list-inline-item
                            span.fa-li
                            | AWS,
                        li.list-inline-item
                            span.fa-li
                            | Heroku

            hr.m-0

            // Interests
            //- section#interests.resume-section
            //-     .resume-section-content
            //-         h2.mb-5 Interests
            //-         p
            //-             | Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.
            //-         p.mb-0
            //-             | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.

            //- hr.m-0

            // Awards
            //- section#awards.resume-section
            //-     .resume-section-content
            //-         h2.mb-5 Awards & Certifications
            //-         ul.fa-ul.mb-0
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | Google Analytics Certified Developer
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | Mobile Web Specialist - Google Certification
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st
            //-                 | Place - University of Colorado Boulder - Emerging Tech Competition 2009
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st
            //-                 | Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 2
            //-                 sup nd
            //-                 | Place - University of Colorado Boulder - Emerging Tech Competition 2008
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st
            //-                 | Place - James Buchanan High School - Hackathon 2006
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 3
            //-                 sup rd
            //-                 | Place - James Buchanan High School - Hackathon 2005

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')
